@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');

* {
    margin: 0;
    font-family: 'Nanumgothic';
}

html {
    font-size: 3rem;
}

#header {
    display: flex;
    box-shadow: 0 2px 10px #111;
    user-select: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.3em;
    background-color: #fff;
}

#profile {
    display: flex;
    align-items: flex-end;
    user-select: none;
    margin: 0.6em 0 0.3em 0.9em;
}

#profile-img {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
}

#status {
    color: #0ddb0d;
    position: relative;
    right: 30px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #fff;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0 .15em .2em;
}

#status.offline {
    color: red;
}

#profile-text {
    margin-top: 0.5em;
}

#profile-h1 {
    font-size: 1.5em;
}

#profile-h1 strong {
    color: #fbfbfb;
}

#profile-status {
    color: #9c9c9c;
    font-size: 0.8em;
}

#content {
    padding: 20px 20px;
    margin: 4.6em 0 120px;
    min-height: calc(100vh - 8em);
}

.chat {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.my.chat {
    flex-direction: row-reverse;
}

.chat-text {
    background-color: #e6e6e6;
    max-width: 60vw;
    width: auto;
    padding: 0.3em 0.5em 0.4em;
    border-radius: 10px 10px 10px 3px;
    margin: 20px;
}

.my .chat-text {
    background-color: #0d74db;
    color: white;
    border-radius: 10px 10px 3px 10px;
}

.chat-time {
    font-size: 0.6em;
    color: #9c9c9c;
    margin-bottom: 1em;
}

#inputs {
    height: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    white-space: nowrap;
    gap: 20px;
    background-color: #fff;
}

.btn {
    min-width: 6em;
    height: 6em;
    /* font-size: 0.5rem; */
    border: none;
    display: flex;
    align-items: center;
    background-color: #ffff;
}

.input-btn {
    width: 5em;
    height: 5em;
}

input {
    height: 1.2em;
    border: none;
    background-color: #e3e3e3;
    border-radius: 0.9em;
    width: 100%;
    padding: 0.3em 0.8em 0.2em;
    font-size: 1em;
}

input:focus {
    outline: #0d74db 1px;
}

#bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0005;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg.hidden {
    display: none;
}

#image {
    background-color: #fff;
    width: 80vw;
    /* height: 40vh; */
    padding: 10px;
}

#image h1 {
    margin-bottom: 0.3em;
}

#images {
    background-color: #e3e3e3;
    height: calc(40vh - 1.3em - 50px);
    padding: 10px;
}

.image {
    background-color: #111;
    width: 20vw;
    height: 20vw;
    transition: box-shadow 300ms;
    display: flex;
    margin: 3px;
}

.image img {
    width: 100%;
    height: 100%;
}

.image.active {
    border: #3cb1ff 3px solid;
    margin: 0;
}

.img-check {
    position: absolute;
    color: white;
    width: 4vw;
    height: 4vw;
    margin: 1vw;
    background-color: #0000;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    color: #0000;
    vertical-align: top;
    text-align: center;
}
    
.image.active .img-check {
    color: #fff;
    background-color: #3cb1ff;
    border: 2px solid #3cb1ff;
    
}

#img-submit {
    width: 100%;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    background-color: #b9b9b9;
    padding: 0.2em 0.5em 0.3em;
    box-sizing: border-box;
}

#img-submit.active {
    background-color: #3ca4ff;
}