* {
    margin: 0;
}

#header {
    width: 100%;
    height: 22rem;
    /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
    background-color: #161616;
    border-bottom: 1px solid #3d444d;
}

#logo-box {
    margin: 10px;
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: fixed;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#logo {
    width: 50px;
    opacity: 0.3;
    transition: opacity 300ms;
}

#logo-chat {
    position: absolute;
    top: -200%;
    background-color: #fff;
    padding: 0.1em 0.5em 0.3em;
    margin-left: 0.4em;
    margin-bottom: 0.3em;
    border-radius: 0.2em;
    opacity: 0;
    user-select: none;
}

#logo-chat:after {
    writing-mode: vertical-rl;
    border-top: 8px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 8px solid transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: -17px;
}

#logo-box:hover #logo {
    opacity: 1;
}

#logo-box:hover #logo-chat {
    position: relative;
    opacity: 1;
    transition: opacity 1s;
}

#three-btn {
    margin: 10px;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 0;
    border: solid #3d444d 1px;
    padding: 0.1em;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #474747;
}

#content {
    background-color: #212830;
}

#bars {
    background-color: #151b23;
    color: #d1d7e0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    padding: 0px 40px 0;
    gap: 50px;
    border-bottom: 1px solid #3d444d;
}

.bar {
    border-bottom: solid #d1d7e0 2px;
    padding: 0.6em 0.8em 0.5em;
    cursor: pointer;
}

#contents {
    color: #d1d7e0;
    padding: 10px;
}

.cuts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 5px;
}

.cut {
    color: #d1d7e0;
    text-decoration: none;
    width: 100%;
    border: solid #444c56 1px;
    border-radius: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}

.cut:hover {
    background-color: #262c36;
}

.cut p {
    padding: 0.1em 0.5em 0.2em;
}

.cut img {
    height: 1.5em;
}